@charset "UTF-8";
body {
  background-color: #fff;
  color: #000;
  word-break: keep-all;
  font-size: 14px;
  font-family: "Noto Sans Kr", sans-serif;
  letter-spacing: -1px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    letter-spacing: normal;
  }
}

.logo {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .logo {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
  }
}
.logo__title {
  line-height: 25px;
  font-size: 2em;
}
@media screen and (min-width: 1280px) {
  .logo__title {
    height: 50px;
    line-height: 50px;
    text-indent: 50px;
  }
}
.logo__title i {
  display: inline-block;
}
.logo__title i img {
  width: 25px;
}
.logo__title span {
  display: none;
}
@media screen and (min-width: 1280px) {
  .logo__title span {
    display: inline;
  }
}

header {
  height: 50px;
  display: flex;
  background-color: #fff;
  color: #000;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  header {
    height: 100px;
  }
}

.now {
  width: 900px;
  height: 900px;
  display: none;
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translateX(-75%) translateY(-50%);
  background-color: #000;
  color: #000;
  border-radius: 50%;
}
.now__main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  color: #000;
}
.now__list-wrap {
  width: 101%;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  overflow: hidden;
}
.now__list {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  transform-origin: center left;
  text-align: end;
  padding-right: 20px;
}
.now__list:first-child {
  transform: translate(0, -50%);
}
.now__list:nth-child(2) {
  transform: translate(0, -50%) rotate(45deg);
}
.now__list:nth-child(3) {
  transform: translate(0, -50%) rotate(90deg);
}
.now__list:nth-child(4) {
  transform: translate(0, -50%) rotate(135deg);
}
.now__list:nth-child(5) {
  transform: translate(0, -50%) rotate(180deg);
}
.now__list:nth-child(6) {
  transform: translate(0, -50%) rotate(225deg);
}
.now__list:nth-child(7) {
  transform: translate(0, -50%) rotate(270deg);
}
.now__list:last-child {
  transform: translate(0, -50%) rotate(315deg);
}
.now__list::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(60%, -50%);
  background-color: #fff;
  color: #000;
  border-radius: 50%;
}
.now__list.more__now::after {
  width: 400px;
  height: 400px;
  display: block;
}
.now__list > span {
  position: relative;
  z-index: 1;
}

/* ID 태그를 이용해, 우선순위 높임 [검은색 배경] */
#main .dark__wrap {
  background-color: #222;
  color: #fff;
}
#main .dark__wrap .iphone {
  background-color: #000;
}
#main .dark__wrap .iphone__content > div {
  background-color: #333;
  color: #fff;
}
#main .dark__wrap .iphone__balance--resReq {
  background-color: #fff;
  color: #000;
}
#main .dark__wrap .more__btn button {
  background-image: url("../images/ico_plus-circle--white.svg");
}
#main .dark__wrap .close {
  background-image: url("../images/ico_multiply--white.svg");
}
#main .dark__wrap .more__wrap .close {
  background-image: url("../images/ico_multiply.svg");
}

.main {
  padding-bottom: 50px;
  background-color: #d9d6cc;
  transition: 0.5s;
}
.main .inner {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .main .inner {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .main .inner {
    width: 100%;
  }
}
.main__center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 50px);
  gap: 10px;
  text-align: start;
}
.main__title {
  width: 80%;
}
.main__text {
  width: 90%;
  word-break: keep-all;
}

/* 우선순위, 모바일 환경에서 전체 화면 */
#main .more__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 0;
  display: none;
  overflow: auto;
  transition: 0.5s ease-in-out;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  #main .more__wrap {
    position: absolute;
    border-radius: 30px;
  }
}
#main .more__wrap.open {
  opacity: 1;
}

.close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../images/ico_multiply.svg") no-repeat center/cover;
}

.iphone {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  border-radius: 50px;
  overflow: hidden;
  max-width: 370px;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .iphone {
    margin: 0 auto;
    /* 높이 값을 초기화 하지 않으면 이미지 사이즈를 넘어가는 현상 발생 */
    height: initial;
  }
}
.iphone > img {
  position: relative;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 8% 100%, 8% 5%, 92% 5%, 92% 95%, 7% 95%, 8% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0 100%, 8% 100%, 8% 5%, 92% 5%, 92% 95%, 7% 95%, 8% 100%, 100% 100%, 100% 0%);
}
.iphone > * {
  position: absolute;
}
.iphone__time {
  top: 20px;
  left: 50%;
  transform: translateX(-115px);
}
@media screen and (min-width: 768px) {
  .iphone__time {
    transform: translateX(-140px);
  }
}
.iphone__status {
  width: 15px;
  display: flex;
  top: 20px;
  left: 50%;
  transform: translateX(65px);
  gap: 3px;
  align-items: center;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .iphone__status {
    transform: translateX(90px);
  }
}
.iphone__title {
  top: 65px;
  left: 50%;
  transform: translateX(-115px);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .iphone__title {
    transform: translateX(-140px);
  }
}
.iphone__ico {
  display: flex;
  top: 65px;
  left: 50%;
  transform: translateX(60px);
  flex-direction: row-reverse;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .iphone__ico {
    transform: translateX(90px);
  }
}
.iphone__ico > li {
  width: 20px;
}
.iphone__ico > li > button {
  width: 100%;
  height: 100%;
}
.iphone__content {
  width: 85%;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.iphone__content > div {
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
}
.iphone__content > h2 {
  width: 95%;
  margin: 0 auto;
}
.iphone__content > h2 > i {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../images/ico_filter.svg") no-repeat center/cover;
  float: right;
}
.iphone__card {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 15px 0;
  color: #fff;
  border-radius: 10px !important;
  background: no-repeat 0/cover;
}
@media screen and (min-width: 768px) {
  .iphone__card {
    height: 200px;
  }
}
.iphone__card .logo__title {
  width: initial;
  height: initial;
  line-height: initial;
  text-indent: 25px;
  font-size: 22px;
}
.iphone__card > span {
  font-size: 22px;
  letter-spacing: -2px;
  background-color: #000;
}
.iphone__card-grid {
  display: grid;
  background-color: transparent !important;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.iphone__card-grid > div {
  padding: 10px;
  background-color: #fff;
}
.iphone__card-grid-right-row2 {
  grid-template-areas: "card-1 card-row2" "card-3 card-row2";
}
.iphone__card-grid-right-row2 .iphone__card-left-top {
  grid-area: card-1;
}
.iphone__card-grid-right-row2 .iphone__card-right-2 {
  grid-area: card-row2;
  position: relative;
}
.iphone__card-grid-right-row2 .iphone__card-right-2 > .iphone__accept {
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  bottom: 10px;
}
.iphone__card-grid-right-row2 .iphone__card-right-2 .iphone__card-left-bottom {
  grid-area: card-3;
}
.iphone__round {
  position: relative;
  border-radius: 10px;
  padding: 10px;
}
.iphone__sub-title {
  font-size: 14px;
}
.iphone__text {
  font-weight: 700;
  font-size: 18px;
}
.iphone__comment {
  color: #999;
  font-size: 12px;
}
.iphone__round-btn {
  background-color: #eee;
  color: #000;
  border-radius: 20px;
  padding: 5px 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.iphone__request {
  position: relative;
  padding: 10px;
}
.iphone__request .img-box {
  margin-bottom: 30px;
}
.iphone__latest-transaction {
  padding: 10px;
  margin-bottom: 10px !important;
}
.iphone__latest-transaction > p {
  font-size: 12px;
}
.iphone__saving button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url("../images/ico_chevron.png") -400px 0/cover;
}
.iphone__check {
  text-align: center;
}
.iphone__check i {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 10px;
  background: url("../images/ico_checkmark.circle.svg") no-repeat center/cover;
}

.request__balance {
  font-size: 14px;
}

hr {
  margin: 10px 0;
}

.profile__img {
  width: 40px;
  background-color: #d8d8d9;
  border-radius: 50%;
  float: left;
  padding: 5px;
  margin: 10px 10px 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile__card {
  border-radius: 10px;
}
.profile__name > strong {
  font-size: 14px;
}
.profile__reasons {
  font-size: 12px;
  color: #999;
}
.profile__expires {
  font-size: 12px;
  color: #999;
}
.profile__money {
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: end;
}
.profile__money i {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url("../images/ico_chevron.png") no-repeat -400px 0/cover;
}
.profile__money span {
  background-color: #eee;
  color: #999;
  padding: 0 5px;
  font-size: 12px;
}

.watch {
  width: 100%;
  height: 350px;
  display: flex;
  margin: 20px auto;
  align-items: center;
  background: url("../images/watch.svg") no-repeat 65% 0/contain;
}
@media screen and (min-width: 768px) {
  .watch {
    height: 70%;
    background-position-x: 15px;
  }
}
.watch__card {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

footer .inner {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  color: #999;
}
@media screen and (min-width: 768px) {
  footer .inner {
    max-width: 1280px;
  }
}

.precautions {
  width: 95%;
  margin: 0 0 0 auto;
}
@media screen and (min-width: 768px) {
  .precautions {
    margin: 0 auto;
  }
}
.precautions > li {
  list-style: decimal;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .foot__nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
    margin-bottom: 20px;
  }
}
.foot__nav-link > a {
  display: block;
  margin: 15px 0;
}
@media screen and (min-width: 768px) {
  .foot__nav-link > a {
    order: 3;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .foot__nav-link > span {
    order: 1;
  }
}
.foot__nav-link .foot__nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
@media screen and (min-width: 768px) {
  .foot__nav-link .foot__nav-list {
    order: 2;
    flex: 1;
    width: initial;
  }
}
.foot__nav-link .foot__nav-list > li {
  position: relative;
  color: #333;
  margin-right: 15px;
}
.foot__nav-link .foot__nav-list > li::after {
  content: "";
  width: 1px;
  height: 70%;
  display: block;
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
  background-color: #333;
}
.foot__nav-link .foot__nav-list > li:last-child::after {
  display: none;
}
.foot__nav-info {
  font-size: 11px;
}
.foot__nav-info span {
  white-space: nowrap;
}
.foot__nav-info span:first-child, .foot__nav-info span:last-child {
  display: block;
}
@media screen and (min-width: 768px) {
  .foot__nav-info span:first-child, .foot__nav-info span:last-child {
    display: inline;
  }
}