@charset "UTF-8";
.security, .transit, .identity, .payment {
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  article {
    display: grid;
  }
}

@media screen and (min-width: 768px) {
  section {
    position: relative;
    display: flex;
    align-items: center;
  }
}

:is(.main__center, article) > h2 {
  font-size: 36px;
}
@media screen and (min-width: 768px) {
  :is(.main__center, article) > h2 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1280px) {
  :is(.main__center, article) > h2 {
    font-size: 96px;
  }
}
:is(.main__center, article) > h2 > span {
  color: #fff;
  white-space: nowrap;
}

:is(.wrap, .text-box) > h2 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  :is(.wrap, .text-box) > h2 {
    font-size: 36px;
    line-height: normal;
  }
}

.img-box {
  margin: 20px 0;
}
.img-box > img {
  width: 80%;
  margin: 0 auto;
}

.more__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .more__btn {
    justify-content: center;
    margin: 10px 0;
  }
}
.more__btn span {
  font-size: 12px;
}
.more__btn button {
  width: 30px;
  height: 30px;
  display: block;
  background: url("../images/ico_plus-circle.svg") no-repeat center/cover;
}
.more__btn img {
  width: 120px;
  display: inline;
  margin-left: 10px;
}

/** 모든 wrap 태그가 참조하고 있는 스타일 */
.wrap {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  padding: 40px 30px 20px;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .wrap {
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .payment {
    width: 100%;
  }
}
.payment .themeColor {
  color: #3496ca;
}
.payment__title {
  background-color: #3496ca;
  color: #16435a;
  border-radius: 30px;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  .payment__title {
    padding: 60px;
  }
}
@media screen and (min-width: 768px) {
  .payment__title {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 768px) {
  .payment__card {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 768px) {
  .payment__card .img-box {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .payment__card .text-box {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .payment__card .more__btn {
    position: absolute;
    right: 10%;
    bottom: 10%;
  }
}
@media screen and (min-width: 768px) {
  .payment__card .more__wrap .more-header .text-box {
    display: block;
    float: left;
    width: 50%;
  }
}
.payment__card .more__wrap .more-header .text-box .img-box__lg {
  display: none;
}
@media screen and (min-width: 768px) {
  .payment__card .more__wrap .more-header .text-box .img-box__lg {
    display: block;
  }
}
.payment__card .more__wrap .more-header .text-box .img-box__lg img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .payment__card .more__wrap .more-main {
    margin: 0 0 0 auto;
    width: 40%;
  }
}
.payment__card .more__wrap .more-main .wrap {
  background-color: #eee;
  padding: 20px;
}
.payment__card .more__wrap .more-main .wrap h2 {
  display: inline-block;
  margin-bottom: 0;
}
.payment__card .more__wrap .more-main .wrap > ul {
  float: right;
  display: flex;
  gap: 20px;
}
.payment__card .more__wrap .more-main .wrap > ul img {
  width: 30px;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) {
  text-align: center;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) > p {
  margin: 10px 0;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) h3 {
  text-align: start;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) .wrap {
  background-color: #ccc;
  margin-bottom: 0;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) .wrap p {
  text-indent: 40px;
  padding: 10px 0;
  background: url("../images/ico_pay--more.png") no-repeat;
  background-size: 40px;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) .wrap p:first-child {
  background-position-y: -280px;
}
.payment__card .more__wrap .more-main .wrap:nth-of-type(2) .wrap p:last-child {
  background-position-y: -160px;
}
.payment__card .more__wrap .more-main > p img {
  width: 20px;
  height: 20px;
  display: inline;
  margin: 0 5px;
}
.payment__pay {
  /* 더보기 버튼 누르면 나오는 box */
}
@media screen and (min-width: 768px) {
  .payment__pay {
    grid-column: 1/3;
    height: 800px;
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: space-between;
  }
}
.payment__pay .payment__ico-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .payment__pay .payment__ico-wrap {
    width: 100%;
  }
}
.payment__pay .payment__ico-wrap .payment__ico {
  width: 28.3333333333%;
  text-align: center;
}
.payment__pay .payment__ico-wrap .payment__ico > img {
  width: 100%;
  height: 65px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .payment__pay .more__btn {
    width: 100%;
    justify-content: flex-end;
  }
}
.payment__pay .more__wrap .more-header .text-box {
  float: left;
}
.payment__pay .more__wrap .more-header .payment__ico {
  text-align: end;
}
.payment__pay .more__wrap .more-header .payment__ico > img {
  display: inline;
  width: 40px;
  margin: 0 5px;
}
@media screen and (min-width: 1280px) {
  .payment__pay .more__wrap .more-main .payment__ico {
    float: left;
  }
}
.payment__pay .more__wrap .more-main i {
  background: url("../images/ico_pay--more.png") no-repeat center 0/100%;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.payment__pay .more__wrap .more-main .ico__pay-onlineShop {
  background-position-y: -40px;
}
.payment__pay .more__wrap .more-main .ico__pay-restaurant {
  background-position-y: -80px;
}
.payment__pay .more__wrap .more-main .ico__pay-cafe {
  background-position-y: -120px;
}
.payment__pay .more__wrap .more-main .ico__pay-transit {
  background-position-y: -160px;
}
.payment__pay .more__wrap .more-main .ico__pay-boardingPass {
  background-position-y: -200px;
}
.payment__pay .more__wrap .more-main .ico__pay-bank {
  background-position-y: -240px;
}
.payment__pay .more__wrap .more-main .ico__pay-cardCompany {
  background-position-y: -280px;
}
.payment__pay .more__wrap .more-main .ico__pay-gamepad {
  background-position-y: -320px;
}
.payment__pay .more__wrap .more-main .ico__pay-app {
  background-position-y: -360px;
}
.payment__pay .more__wrap .more-main .contactless {
  background-image: url("../images/ico_contactless.png");
  width: 30px;
  height: 30px;
}
.payment__pay .more__wrap .more-main .text-box {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .payment__cash {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .payment__cash .iphone {
    border-radius: 80px;
  }
}
.payment__cash .iphone__card {
  background-image: url("../images/payment__appleCash.jpg");
  justify-content: flex-end;
}
.payment__cash .iphone__card > span {
  position: relative;
  top: -10px;
  right: -5px;
}
@media screen and (min-width: 768px) {
  .payment__apple-card {
    display: block;
  }
}
.payment__apple-card .iphone__card {
  background-image: url("../images/payment__appleCard.jpg");
}
@media screen and (min-width: 768px) {
  .payment__membership {
    grid-column: 1/3;
    gap: 30px;
  }
}
.payment__membership .img-box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.payment__membership .img-box .row__space {
  width: 88px;
  height: 88px;
}
.payment__membership .text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .payment__membership .text-box p {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .payment__membership > div {
    flex: 1;
  }
}

.identity .themeColor {
  color: #fbae04;
}
.identity__title {
  background-color: #fbae04;
  color: #835a00;
  border-radius: 30px;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  .identity__title {
    padding: 60px;
  }
}
@media screen and (min-width: 768px) {
  .identity__title {
    grid-column: span 2;
  }
}
@media screen and (min-width: 768px) {
  .identity__driver {
    grid-column: span 2;
  }
}
.identity__driver .iphone__card {
  background-image: url("../images/driverlicense-bg.png");
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  padding-bottom: 15px;
}
.identity__driver .iphone__card p {
  color: #333;
}
.identity__driver .iphone__card p.card__title {
  grid-column: 1/3;
}
.identity__driver .iphone__card p.card__name {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.identity__driver .iphone__license img, .identity__driver .iphone__citizen img {
  width: 45px;
  float: left;
  margin-right: 10px;
}
.identity__driver .iphone__identity {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background: #fff url("../images/ico_faceid.svg") no-repeat center/60px;
}
@media screen and (min-width: 768px) {
  .identity__employee {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .identity__employee .iphone {
    order: 1;
  }
}
.identity__employee .iphone__content {
  top: 80px;
}
.identity__employee .iphone__content .iphone__card {
  background-image: url("../images/employee__badge.jpg");
}
.identity__employee .iphone .nfc-reader {
  background-color: transparent !important;
  text-align: center;
  color: #ccc;
}
.identity__employee .iphone .nfc-reader .nfc-phone {
  width: 70px;
  height: 70px;
  border: 3px solid #086fff;
  border-radius: 50%;
  background: url("../images/ico_iphone.gen2.svg") no-repeat center 15px/60%;
  margin: 0 auto 20px;
}
@media screen and (min-width: 768px) {
  .identity__student {
    display: block;
  }
}
.identity__student .watch__card {
  height: 150px;
  background: #000 url("../images/watch-university.svg") no-repeat 20px center/40%;
}
@media screen and (min-width: 768px) {
  .identity__student .watch__card {
    position: relative;
    right: 13px;
    width: 60%;
    font-size: 30px;
    text-indent: -100px;
  }
}

.transit .themeColor {
  color: #50be3e;
}
.transit__title {
  background-color: #50be3e;
  color: #29631f;
  border-radius: 30px;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  .transit__title {
    padding: 60px;
  }
}
@media screen and (min-width: 768px) {
  .transit__title {
    grid-column: 1/3;
  }
}
.transit__express {
  position: relative;
  height: 400px;
  background: url("../images/transit-bg.svg") no-repeat -50px 60%/160%;
}
@media screen and (min-width: 768px) {
  .transit__express {
    flex-direction: column;
    align-items: flex-start;
    height: initial;
    padding: 80px;
    padding-bottom: 0;
  }
}
.transit__express .text-box {
  height: 90%;
  display: flex;
  align-items: flex-end;
}
.transit__express .more__btn {
  flex-direction: row-reverse;
}
.transit__express .more__wrap .text-box {
  display: block;
}
.transit__express .more__wrap .more-main .wrap {
  background-color: #eee;
  padding: 20px;
}
.transit__express .more__wrap .more-main .wrap:first-of-type > h2 {
  display: inline-block;
  margin-bottom: 0;
}
.transit__express .more__wrap .more-main .wrap:first-of-type > ul {
  float: right;
  display: flex;
  gap: 20px;
}
.transit__express .more__wrap .more-main .wrap:first-of-type > ul img {
  width: 30px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) {
  text-align: center;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) > p {
  margin: 10px 0;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) h3 {
  text-align: start;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) .wrap {
  background-color: #ccc;
  margin-bottom: 0;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) .wrap p {
  text-indent: 40px;
  padding: 10px 0;
  background: url("../images/ico_pay--more.png") no-repeat;
  background-size: 40px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) .wrap p:first-child {
  background-position-y: -280px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(2) .wrap p:last-child {
  background-position-y: -160px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) {
  text-align: start;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) h2 {
  text-align: center;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) .search-box {
  background-color: #ccc;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0 20px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) .search-box img {
  width: 20px;
  display: inline;
  margin-right: 5px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) h3 {
  margin-bottom: 10px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) .wrap {
  background-color: #ccc;
  margin: 0;
  padding: 10px;
}
.transit__express .more__wrap .more-main .wrap:nth-of-type(3) .wrap p {
  padding: 10px 0;
  background: url("../images/ico_pay--more.png") no-repeat;
  background-size: 60px;
  background-position-y: -420px;
}
.transit__express .more__wrap .more-main > p img {
  width: 20px;
  height: 20px;
  display: inline;
  margin: 0 5px;
}
@media screen and (min-width: 768px) {
  .transit__boarding-passes {
    display: block;
  }
}
.transit__boarding-passes .img-box {
  max-width: 350px;
  margin: 0 auto;
}
.transit .img-box .ticket-air {
  position: relative;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  background: url("../images/ticket-air-QR.png") no-repeat center 90%/150px;
}
.transit .img-box .ticket-air__logo {
  float: left;
  width: 80px;
  height: 20px;
  background: url("../images/logo_Asiana_Airlines.svg") no-repeat center/contain;
}
.transit .img-box .ticket-air__time {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
}
.transit .img-box .ticket-air__time > p {
  font-size: 12px;
}
.transit .img-box .ticket-air__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.transit .img-box .ticket-air__nav > div > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.transit .img-box .ticket-air__nav > div > h2 {
  font-size: 26px;
}
.transit .img-box .ticket-air__nav-starting {
  width: 40%;
}
.transit .img-box .ticket-air__nav-airplane {
  width: 40px;
  display: block;
  background: url("../images/ticket-air.png") no-repeat -40px center/200%;
  margin: 0 10px;
}
.transit .img-box .ticket-air__nav-arrived {
  width: 40%;
}
.transit .img-box .ticket-air__nav-arrived h2 {
  text-align: end;
}
.transit .img-box .ticket-air__main {
  margin: 20px 0 0;
}
.transit .img-box .ticket-air__grid-wrap {
  display: grid;
  gap: 10px;
  grid-template-columns: 30% 1fr 15% 15%;
  grid-template-rows: 1fr 1fr;
  white-space: nowrap;
}
.transit .img-box .ticket-air__grid-wrap .ticket-air__class {
  grid-column: 2/4;
}
.transit .img-box .ticket-air__dot {
  display: flex;
  justify-content: space-between;
  width: 104%;
  position: absolute;
  top: 130px;
  left: -2%;
}
.transit .img-box .ticket-air__dot > i {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .transit__pass {
    display: block;
  }
}
.transit__pass .iphone__card {
  background-image: url("../images/transit_park.png");
  display: flex;
  flex-wrap: wrap;
  color: darkblue;
  font-weight: bold;
}
.transit__pass .iphone__card > h2 {
  width: 100%;
  height: 100px;
  background: url("../images/logo_everland.png") no-repeat -10px -45px/100px;
}
.transit__pass .iphone__check {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .transit__movieEvent {
    display: block;
  }
}
.transit__movieEvent .watch {
  flex-direction: column;
  justify-content: center;
}
.transit__movieEvent .watch .watch__card {
  height: 150px;
  background: url("../images/transit_movieEvent-bg.png") no-repeat center/contain;
}
@media screen and (min-width: 768px) {
  .transit__movieEvent .watch .watch__card {
    width: 70%;
    height: 50%;
    background-position: center 30%;
  }
}
.transit__movieEvent .watch .watch__card > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.security .themeColor {
  color: #f26d60;
}
.security__title {
  background-color: #f26d60;
  color: #6f3530;
  border-radius: 30px;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  .security__title {
    padding: 60px;
  }
}
@media screen and (min-width: 768px) {
  .security__title {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 768px) {
  .security__homekit {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 768px) {
  .security__homekit .img-box {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .security__homekit .img-box > img {
    width: 60%;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .security__homekit .text-box {
    position: absolute;
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .security__homekit .more__btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}
.security__hotel .iphone__card {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 1fr;
  background-image: url("../../images/security-hotel-bg.jpg");
}
.security__hotel .iphone__card > h2 {
  width: 80px;
  height: 20px;
  background: url("../images/security-hotel-logo.svg") no-repeat 0/contain;
}
.security__hotel .iphone__card > p:first-of-type {
  text-align: end;
  font-size: 8px;
}
.security__hotel .iphone__card > p:first-of-type > strong {
  font-size: 12px;
}
.security__hotel .iphone__card > p:last-of-type {
  font-size: 12px;
  grid-column: 1/3;
  text-shadow: 2px 2px 10px #000;
}
.security__car .iphone__ico {
  transform: translateX(20px);
}
.security__car .iphone__card {
  background: url("../images/logo_tesla.svg") no-repeat 10% 10%/20px, url("../images/security-car-bg.jpg") no-repeat center/cover;
  text-align: end;
  color: #fff;
}
.security__car .iphone__card > p {
  width: 100%;
}